/* ///////////////////////////////////////////////////////// */
/* Stylings Here to Bottom for the Degree 'Cards' Themselves */
/* ///////////////////////////////////////////////////////// */
/* Horizontal Layout Degree Cards */
.degreeCardContainer {
    display: grid;
    grid-template-columns: minmax(0, 50%) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "info media";
    margin: 18px auto;
    border-bottom: 1px dotted #010101;
}
.degreeTextSection {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 4px;
}
.source {
    margin: 0;
    font-weight: 100;
    color: '#FFBC28';
    padding: 0;
}
.location {
    font-weight: bolder;
    margin-bottom: 2px;

}
.dateComplete {
    padding-bottom: 8px;
    margin-bottom: 8px;
}
.imageSection {
    grid-area: media;
}
.image {
    display: block;
    width: 90%;
    border: 1px solid transparent;
    border-radius: 6px;
    margin-left: auto;
}

/* Narrow Layout Degree Cards */
@media only screen and (max-width: 700px) {
    .degreeCardContainer {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 180px fit-content;
        grid-template-areas: 
            "vertMedia"
            "vertInfo";
        gap: 8px;
        justify-content: center;
        margin-bottom: 30px;
    }
    .degreeTextSection {
        grid-area: vertInfo;
        border-bottom: 2px solid #2b2b2b;
        padding-bottom: 20px;
    }
    .source {
        margin: 0;
    }
    .location {
        font-weight: bolder;
        margin-bottom: 2px;
    }
    .dateComplete {
        padding-bottom: 8px;
        margin-bottom: 8px;
    }
    .imageSection {
        grid-area: vertMedia;
        border: 4px solid transparent;
    }
    .image {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        float: none;
    }
}